# Files and paths to ignore.
build
__pycache__
InstallFiles/tmp
InstallFiles/tmp2
InstallFiles/toolsInstalled
Conversions
Editor
Base
*.nds
build.ninja
.ninja_log
ASM/fireflower_data
ASM/toolchain/ff-gcc
ASM/toolchain/Fireflower
*.rsp